{% load static %}
<html>
    <head>
        <title>Emiko blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/emikoKanri.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'emikoKanri:nurse_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <a href="{% url 'post:post_list' %}" class="top-menu">連絡に行く</a>
            
            <h1><a href="/">Emiko 尿記録</a></h1>

            
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-lg-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>